<%- include('./partials/head') %>
<%- include('./partials/header') %>
    <h1><%= auto.marca%></h1>
    <p><%= auto.modelo%></p>
    <p><%= auto.color%></p>
    <p><%= auto.anio%></p>
<%- include('./partials/footer') %>