<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
    <section>
        <img src="/images/banner.jpg">
    </section>
    <section >
        <ul>
            <% for(let i= 0; i < movies.length; i++){%>
            <li>
                <a href="/movies/<%-movies[i].id%>">
                    <h3><%= movies[i].title %></h3>
                    <ul>
                        <li><%= movies[i]?.genres.name%></li>
                    </ul>
                </a>
            </li>
            <%}%>
        </ul>
    </section>
</main>
<%- include('./partials/footer') %>
