<%- include('./partials/head') %>
<%- include('./partials/header') %>
    <h1>Bienvenido al consesionario <%= nombreConcesionario %></h1>
    <h2>Estos son los autos que tenemos</h2>
    <ul class="lista-autos">
        <% 
            for(let i=0;i < autos.length; i++){ %> 
        <li class="item">
            <article>
                <h3><%= autos[i].marca%></h3>
                <p>Modelo: <%= autos[i].modelo%></p>
                <p>Año: <%= autos[i].anio%></p>
                <p>Color: <%= autos[i].color%></p>
                <a href="/autos/<%= i%>">
                    Ver más
                </a>
            </article>
        </li>
        <%}%>
    </ul>
<%- include('./partials/footer') %>