<%- include('./partials/head')%>
<%- include('./partials/header')%>

<main>
    <section>
        <h1><%= pelicula.title %></h1>
        <h3><%= pelicula.rating %></h3>
        <form action="/movies/delete/<%= pelicula.id%>" method="post">
            <input type="submit" value="Eliminar pelicula">
        </form>
    </section>
</main>

<%- include('./partials/footer')%>