<%- include('./partials/head') %>
<%- include('./partials/header') %>


<section>
    <h1>Editar mi perfil</h1>
    <form action="/users/edit-profile/<%= user.id%>" method="POST">
        <div>
            <input name="name" type="text" value="<%= user.name%>">
        </div>
        <div>
            <input name="email" type="text" value="<%= user.email%>">
        </div>
        <button>
            Editar
        </button>
    </form>

</section>

<%- include('./partials/footer') %>